<mat-card>
    <div>
        <button mat-raised-button color="primary" (click)="addAdvert()">Add an ad</button>
    </div>
    <form *ngIf="add" class="container" [formGroup]="advertForm">
        <mat-form-field class="inputFormSmall">
            <input required name="email" type="email" matInput placeholder="Your email" formControlName="email">
            <mat-error *ngIf="advertForm.controls.email.errors && advertForm.controls.email.errors.required">Email is required</mat-error>
            <mat-error *ngIf="advertForm.controls.email.errors && advertForm.controls.email.errors.email">Email is not valid</mat-error>
        </mat-form-field>
        <mat-form-field class="inputFormSmall">
            <input name="phoneNumber" type="text" matInput placeholder="Your phone Number" formControlName="phoneNumber">
            <mat-error *ngIf="advertForm.controls.phoneNumber.errors && advertForm.controls.phoneNumber.errors.required">Phone Number is required</mat-error>
        </mat-form-field>
        <mat-form-field class="inputForm">
            <textarea required #title maxlength="150" rows="2" name="title" type="text" matInput placeholder="Ad title" formControlName="title"></textarea>
            <mat-error *ngIf="advertForm.controls.title.errors && advertForm.controls.title.errors.required">Title is required</mat-error>
            <mat-error *ngIf="advertForm.controls.title.errors && advertForm.controls.title.errors.maxLength">Max length is 150 char</mat-error>
            <span class="textareaLimit">{{150 - title.value.length}}</span>
        </mat-form-field>
        <mat-form-field class="inputForm">
            <textarea required #description maxlength="500" rows="6" name="description" type="text" matInput placeholder="Ad description" formControlName="description"></textarea>
            <mat-error *ngIf="advertForm.controls.description.errors && advertForm.controls.description.errors.required">Description is required</mat-error>
            <mat-error *ngIf="advertForm.controls.description.errors && advertForm.controls.description.errors.maxLength">Max length is 500 char</mat-error>
            <span class="textareaLimit">{{500 - description.value.length}}</span>
        </mat-form-field>
        <label class="inputForm">Address</label>
        <mat-form-field class="inputForm">
            <input required name="firstLine" type="text" matInput placeholder="First Line of address" formControlName="firstLine">
            <mat-error *ngIf="advertForm.controls.firstLine.errors && advertForm.controls.firstLine.errors.required">This field is required</mat-error>
        </mat-form-field>
        <mat-form-field class="inputForm">
            <input name="secondLine" type="text" matInput placeholder="Second Line of address" formControlName="secondLine">
        </mat-form-field>
        <mat-form-field class="inputFormSmall">
            <input required name="city" type="text" matInput placeholder="City" formControlName="city">
            <mat-error *ngIf="advertForm.controls.city.errors && advertForm.controls.city.errors.required">City is required</mat-error>
        </mat-form-field>
        <mat-form-field class="inputFormSmall">
            <input required name="country" type="text" matInput placeholder="Country" formControlName="country">
            <mat-error *ngIf="advertForm.controls.country.errors && advertForm.controls.country.errors.required">Country is required</mat-error>
        </mat-form-field>
        <label required class="inputForm">Number of rooms</label>
        <mat-form-field class="inputFormSmall">
            <input required name="rooms" type="text" matInput placeholder="Number of rooms" formControlName="rooms">
            <mat-error *ngIf="advertForm.controls.rooms.errors && advertForm.controls.rooms.errors.required">Number of rooms is required</mat-error>
            <mat-error *ngIf="advertForm.controls.rooms.errors && advertForm.controls.rooms.errors.min">Minimum number of rooms is 1</mat-error>
            <mat-error *ngIf="advertForm.controls.rooms.errors && advertForm.controls.rooms.errors.max">Maximum number of rooms is 3</mat-error>
        </mat-form-field>
        <label class="inputForm" for="imagesInput">Upload Images (please select multiple at once</label>
        <br>
        <input required name="images" type="file" multiple accept="image/*" (change)="registerPhoto($event)">
        <p>{{uploadMessage}} </p>

        <mat-form-field class="inputFormSmall">
            <input required name="price" type="text" matInput placeholder="Price of the apartment" formControlName="price">
            <mat-error *ngIf="advertForm.controls.price.errors && advertForm.controls.price.errors.required">Price is required</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="getData()">submit</button>
    </form>
</mat-card>