<mat-card>
    <div>
        <button mat-raised-button color="primary" (click)="addAdvert()">Add an ad</button>
    </div>
    <form *ngIf="add" class="container" [formGroup]="advertForm">
        <mat-form-field class="inputFormSmall">
            <input required name="email" type="email" matInput placeholder="Your email" formControlName="email">
            <mat-error *ngIf="advertForm.controls.email.errors && advertForm.controls.email.errors.required">Email is required</mat-error>
            <mat-error *ngIf="advertForm.controls.email.errors && advertForm.controls.email.errors.email">Email is not valid</mat-error>
        </mat-form-field>
        <mat-form-field class="inputFormSmall">
            <input name="phoneNumber" type="text" matInput placeholder="Your phone Number" formControlName="phoneNumber">
        </mat-form-field>
        <mat-form-field class="inputForm">
            <textarea required #title maxlength="150" rows="2" name="title" type="text" matInput placeholder="Ad title" formControlName="title"></textarea>
            <mat-error *ngIf="advertForm.controls.title.errors && advertForm.controls.title.errors.required">Title is required</mat-error>
            <span class="textareaLimit">{{150 - title.value.length}}</span>
        </mat-form-field>
        <mat-form-field class="inputForm">
            <textarea required #description maxlength="500" rows="6" name="description" type="text" matInput placeholder="Ad description" formControlName="description"></textarea>
            <mat-error *ngIf="advertForm.controls.description.errors && advertForm.controls.description.errors.required">Description is required</mat-error>
            <span class="textareaLimit">{{500 - description.value.length}}</span>
        </mat-form-field>
        <label class="inputForm">Address</label>
        <mat-form-field class="inputForm">
            <input name="firstLine" type="text" matInput placeholder="First Line of address" formControlName="firstLine">
        </mat-form-field>
        <mat-form-field class="inputForm">
            <input name="secondLine" type="text" matInput placeholder="Second Line of address" formControlName="secondLine">
        </mat-form-field>
        <mat-form-field class="inputFormSmall">
            <input name="city" type="text" matInput placeholder="City" formControlName="city">
        </mat-form-field>
        <mat-form-field class="inputFormSmall">
            <input name="country" type="text" matInput placeholder="Country" formControlName="country">
        </mat-form-field>
        <label class="inputForm">Number of rooms</label>
        <br>
        <mat-radio-group class="inputForm" formControlName="rooms">
            <mat-radio-button value="1">1 room</mat-radio-button>
            <mat-radio-button value="2">2 rooms</mat-radio-button>
            <mat-radio-button value="3">3 rooms</mat-radio-button>
        </mat-radio-group>
        <br>
        <label class="inputForm">Images of the apartment</label>

        <mat-form-field class="inputForm" *ngFor="let item of imagesArray; let i = index">
            <input type="text" name="image{{i+1}}" matInput placeholder="Image url {{i+1}}" [value]="imagesArray[i]" (input)="updateImageArray(i,$event)">
        </mat-form-field>
        <div>
            <button mat-mini-fab color="primary" (click)="addAnotherImageInput()">+</button> |
            <button mat-mini-fab color="primary" (click)="removeLastImageInput()">-</button>
        </div>
        <mat-form-field class="inputFormSmall">
            <input name="price" type="text" matInput placeholder="Price of the apartment" formControlName="price">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="getData()">submit</button>
    </form>
</mat-card>