:host {
    h1 {
        padding-top: 25px;
        text-align: center;
    }
    [mat-raised-button] {
        margin-left: 45%;
    }
    .message {
        position: fixed;
        top: 40vh;
        width: 100%;
        text-align: center;
        color: white;
        padding: 15px;
        background-color: rgb(86, 102, 172);
        display: none;
        z-index: 2;
    }
    .error {
        position: fixed;
        top: 50vh;
        width: 100%;
        text-align: center;
        color: white;
        padding: 15px;
        background-color: red;
        z-index: 2;
        display: none;
    }
    .show {
        display: initial;
    }
}