<div class="container">
    <mat-card [ngClass]="{'sold': !advert.active}">
        <div class="soldView" *ngIf="!advert.active">
            SOLD
        </div>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{advert.title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="contact">
            <button *ngIf="advert.active" mat-button color="primary" (click)="contactDetails = true">Contact</button>
            <mat-card-subtitle *ngIf="contactDetails">Email : {{advert.email}} </mat-card-subtitle>
            <mat-card-subtitle *ngIf="contactDetails">Phone Number: {{advert.phoneNumber}}</mat-card-subtitle>
        </mat-card-content>

        <mat-card-content>
            <h3>Address</h3>
            <p>{{advert.address.firstLine}} , {{advert.address.secondLine}}</p>
            <h4>{{advert.address.city}}, {{advert.address.country}}</h4>
        </mat-card-content>
        <mat-card-content>
            <h3>Description</h3>
            <p>{{advert.description}}</p>
            <h3>It has {{advert.rooms}} room(s)</h3>
            <h3 class="price">Price is: {{advert.price}}$</h3>
        </mat-card-content>
        <div *ngFor="let item of advert.images">
            <img mat-card-image src="{{item}}" alt="" srcset="">
        </div>
    </mat-card>
</div>