:host {
    display: flex;
    justify-content: center;
    margin: 15px;
    mat-card {
        width: 80%;
    }
    .container {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .inputForm {
        width: 40%;
    }
    .commands {
        display: flex;
        justify-content: space-evenly;
    }
    .previewAd {
        margin: 15px 5%;
        mat-card {
            background-color: salmon;
        }
        mat-card-title {
            text-align: center;
            hr {
                width: 50%;
            }
        }
    }
}