<mat-card>
    <button *ngIf="!editInfo" mat-raised-button color="primary" (click)="editAdd()">Edit your Ad</button>
    <form class="container" *ngIf="editInfo" class="container" [formGroup]="editForm">
        <mat-form-field class="inputForm">
            <input required name="email" type="email" matInput placeholder="Your email" formControlName="email">
            <mat-error *ngIf="editForm.controls.email.errors && editForm.controls.email.errors.required">Email is required</mat-error>
            <mat-error *ngIf="editForm.controls.email.errors && editForm.controls.email.errors.email">Email is not valid</mat-error>
        </mat-form-field>
        <mat-form-field class="inputForm">
            <input required name="ref" type="email" matInput placeholder="Your refererence code" formControlName="ref">
            <mat-error *ngIf="editForm.controls.email.errors && editForm.controls.email.errors.required">Email is required</mat-error>
            <mat-error *ngIf="editForm.controls.email.errors && editForm.controls.email.errors.email">Email is not valid</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="button" (click)="getAdvert()">Submit</button>
    </form>
    <div *ngIf="commands">
        <div class="previewAd">
            <mat-card>
                <mat-card-title>
                    {{previewAd.title}}
                    <hr>
                </mat-card-title>
                <mat-card-content>
                    <p>{{previewAd.description}}</p>
                    <hr>
                    <h3>It has {{previewAd.rooms}} room(s)</h3>
                    <h3 class="price">Price is: {{previewAd.price}}$</h3>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="commands">
            <button mat-stroked-button color="basic" (click)="markAsSold()">Mark ad as sold</button>
            <button mat-stroked-button color="warn" (click)="deleteAd()">Delete ad</button>
            <button mat-fab color="warn" (click)="cancelEdit()">Cancel</button>
        </div>
    </div>
</mat-card>